/* App specific styles if needed */
.btn:active {
  transform: translateY(1px);
}

@media print {
  body * {
    visibility: hidden;
  }

  #invoice-preview,
  #invoice-preview * {
    visibility: visible;
  }

  #invoice-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }
}